[submodule "mcp-git-ingest"]
	path = mcp-git-ingest
	url = git@github.com:adhikasp/mcp-git-ingest.git
[submodule "mcp-tavily"]
	path = mcp-tavily
	url = https://github.com/RamXX/mcp-tavily.git
[submodule "perplexity-server"]
	path = perplexity-server
	url = https://github.com/DaInfernalCoder/researcher-mcp.git
[submodule "mcp-alchemy"]
	path = mcp-alchemy
	url = https://github.com/runekaagaard/mcp-alchemy.git
[submodule "markdownify-mcp"]
	path = markdownify-mcp
	url = https://github.com/zcaceres/markdownify-mcp.git
[submodule "e2b-mcp"]
	path = e2b-mcp
	url = https://github.com/e2b-dev/mcp-server.git
[submodule "code-sandbox-mcp"]
	path = code-sandbox-mcp
	url = https://github.com/nyashkn/code-sandbox-mcp.git
[submodule "firecrawl-mcp-server"]
	path = firecrawl-mcp-server
	url = https://github.com/mendableai/firecrawl-mcp-server.git
